//primary brand color
$primary-brand-color: #cc0000;
$primary-brand-hover-color: #AA0000;

//grey color
$grey-color: #999;
$grey-20-color: #333;
$grey-40-color: #666;
$grey-80-color: #ccc;
$grey-84-color: #D6D6D6;
$grey-light-color: #d3d2d2;

//blue color
$blue-color: #0066cc;

//black color
$black-color: #000;

//white color
$white-color: #fff;
$white-smoke-color: #f6f5f5;
$white-variant-color: #f3f3f3;

